@font-face {
    font-family: 'Wallie-Fit';  
    src: url('../assets/fonts/Wallie-Fit.woff2') format('woff2'),  
    url('../assets/fonts/Wallie-Fit.woff') format('woff'),  
    url('../assets/fonts/Wallie-Fit.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal;
}


body {
    height: 100%;
    min-height: 100vh; /* Asegura que body tome al menos el alto completo de la ventana */
    font-family: 'Wallie-Fit', sans-serif;
    background-color: #f5f5f5;
    color: #808080a4; /* Un gris medio. Puedes ajustar este valor según lo claro que quieras que sea el gris. */
}

header {
    width: 100%; 
    box-sizing: border-box; /* Esto asegura que el padding no sume al ancho total del header */
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 15px;
    justify-content: flex-start; /* Cambiado de 'space-between' */
}

.busqueda {
    border: 1px solid gray;
    padding: 2px 10px; /* Reducimos aún más el padding vertical */
    border-radius: 25px;
    font-size: 14px; /* Puedes ajustar esto según tus preferencias */
    line-height: 1.2; /* Esto define el espacio entre líneas, ajusta según prefieras */

    /* Establece un padding izquierdo para el contenedor del fondo de la lupa */
    padding-left: 45px; /* margen izquierda para el contenedor */

    /* Fondo de la lupa */
    background-image: url('../icons/lupa.png');
    background-position: -30px; /* Ajusta la posición horizontal según tus necesidades */
    background-repeat: no-repeat;
    background-size: 25px 25px; /* tamaño icono lupa */
    background-origin: content-box; /* Aplicar padding al fondo */

    flex-grow: 1; /* Esto permitirá que la barra de búsqueda se expanda y ocupe el espacio disponible */
    margin-left: 20px; /* Añade un margen para separarla un poco del logo */
}

.logo {
    height: 50px; /* Reducimos el tamaño de los iconos */
    margin-top: 0px; /* bajar el logo */
    cursor: pointer;
}

.logo a {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

header img {
    height: 20px; /* Reducimos el tamaño de los iconos */
}

.iconos-header img {
    margin-left: 10px; /* Ajusta este valor según tu preferencia */
}

header .iconos-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

header .boton-subir-producto {
    background-color: #35c9b0c2; /* Verde turquesa */
    border: none;
    border-radius: 50px; /* Lados totalmente redondeados */
    color: white;
    padding: 1px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding-left: 5px;   /* Puedes ajustar este valor según cuán pegado quieras que esté el icono */
    display: flex;       /* Esto permite que los elementos dentro del botón (el icono y el texto) se alineen horizontalmente */
}

header .boton-subir-producto img { /* Imaginando que tienes un icono + */
    height: 20px;
    margin-right: 5px;     /* Esto proporciona un pequeño espacio entre el icono y el texto */
}

button.btn.btn-success {
    background-color: #35c9b0c2;
    border-radius: 50px;
    border: none;
  }

/* SECCION */
.container.mt-4 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;  /* Asegura que el padding y el borde estén incluidos en el tamaño total */
}

#ads {
    max-width: 1200px; /* Limita el ancho máximo para centrarlo en la pantalla */
    margin: 0 auto;
    box-sizing: border-box;  /* Asegura que el padding y el borde estén incluidos en el tamaño total */
}

/* Esto se asegura de que en pantallas medianas tengamos 4 columnas por fila */
.col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 5px;  /* Espacio alrededor de cada caja */
    box-sizing: border-box;  /* Asegura que el padding y el borde estén incluidos en el tamaño total */
}

/* Ajusta los márgenes y el padding si es necesario */
.card {
    margin: 0;  /* Elimina el margen ya que el padding en .col-md-3 creará el espacio */
    border-radius: 15px;
}

.card-price {
    font-size: 1.6em; /* o el tamaño que prefieras */
    margin: 0 0 5px 0; /* Ajusta el margen inferior según necesites */
}

.card-title {
    font-size: 1em; /* o el tamaño que prefieras */
    margin: 0;
    color:rgba(0, 0, 0, 0.356);
    font-weight: normal; /* para asegurarse de que no esté en negrita */
}


/* FOOTER */
footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    padding-left: 70px;
    padding-right: 70px;
}

footer div {
    display: flex;
    flex-direction: column; /* Esto coloca el ícono encima del texto */
    align-items: center;    /* Esto centra verticalmente el contenido */
}

footer img {
    height: 30px;
}

footer p {
    margin: 0; /* Esto elimina cualquier margen predeterminado que pueda desplazar el texto */
}



@media (max-width: 1000px) {
    header .iconos-header, header .boton-subir-producto {
        display: none; /* Ocultamos los iconos y el botón de "Subir Producto" */
    }
}

/* A partir de 1000px de ancho de pantalla */
@media (min-width: 1000px) {
    
    /* Ocultamos el footer */
    footer {
        display: none;
    }
}

/* En pantallas más grandes que 1000px, queremos que haya 4 anuncios por fila */
@media (min-width: 1000px) {
    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

/* En pantallas más pequeñas que 1000px, queremos que haya 1 anuncio por fila */
@media (max-width: 999px) {
    .col-md-3 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}






