@font-face {
    font-family: 'Wallie-Fit';  
    src: url('../assets/fonts/Wallie-Fit.woff2') format('woff2'),  
    url('../assets/fonts/Wallie-Fit.woff') format('woff'),  
    url('../assets/fonts/Wallie-Fit.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal;
}


body {
    height: 100%;
    min-height: 100vh; /* Asegura que body tome al menos el alto completo de la ventana */
    font-family: 'Wallie-Fit', sans-serif;
    background-color: #ffffff;
    color: #808080a4; /* Un gris medio. Puedes ajustar este valor según lo claro que quieras que sea el gris. */
}

header {
    width: 100%; 
    box-sizing: border-box; /* Esto asegura que el padding no sume al ancho total del header */
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 8px;
    padding-bottom: 8px;
    justify-content: space-between;
}

.logo {
    height: 50px; /* Reducimos el tamaño de los iconos */
    margin-top: 0px; /* bajar el logo */
    cursor: pointer;
}

.logo a {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

header img {
    height: 20px; /* Reducimos el tamaño de los iconos */
}

.iconos-header img {
    margin-left: 10px; 
}

header .iconos-header {
    display: flex;
    align-items: center;
    gap: 10px;
}


/* MAIN CONTENT */

/* Definición de la fuente personalizada */
@font-face {
    font-family: 'GrenettePro';
    src: url('../assets/fonts/GrenettePro-Light.ttf') format('truetype'); /* ajusta el formato */
    font-weight: normal;
    font-style: normal;
}

/* MAIN CONTENT */
.custom-title {
    font-family: 'GrenettePro', 'Playfair Display', serif;
    font-size: 40px; /* Tamaño del texto */
    color: rgba(0, 0, 0, 0.711); /* Color del texto */
    font-weight: bold; /* Peso del texto */
    text-align: center;
}

.custom-text {
    font-family: 'GrenettePro', 'Playfair Display', serif;
    font-size: 32px; /* Tamaño del texto */
    color: rgba(0, 0, 0, 0.711); /* Color del texto */
    text-align: center;
}

.input-group.mb-3 {
    max-width: 800px; /* Puedes ajustar este valor según tus necesidades */
    margin: 0 auto;   /* Esto centra el elemento en su contenedor padre */
}

.busqueda {
    border: 1px solid gray;
    padding: 15px 10px; /* Reducimos aún más el padding vertical */
    border-radius: 50px; /* Aplica un radio de borde de 50px a todos los lados */
    font-size: 14px; /* Puedes ajustar esto según tus preferencias */
    padding-left: 45px; /* margen izquierda para el contenedor */
    background-image: url('../icons/lupa.png');
    background-position: -30px; /* Ajusta la posición horizontal según tus necesidades */
    background-repeat: no-repeat;
    background-size: 25px 25px; /* tamaño icono lupa */
    background-origin: content-box; /* Aplicar padding al fondo */
    flex-grow: 1; /* Esto permitirá que la barra de búsqueda se expanda y ocupe el espacio disponible */
    width: 50%; /* Controla el ancho del buscador, si es necesario */
}

.input-group-append .btn {
    margin-left: 15px; /* separación entre buscar y barra*/
}

button.btn.btn-success {
    background-color: #35c9b0c2;
    border-radius: 50px;
    border: 1px solid gray;
}

button.btn.btn-success.btn-buscar:hover {
    background-color: white;
    color: #35c9b0c2;
}


button.btn.btn-outline-secondary {
    border-radius: 50px;
    border-color: #35c9b0c2;
    color: #35c9b0c2;  /* Cambiar el color del texto */
    font-weight: 300;  /* Hacer las letras más finas */
}

button.btn.btn-outline-secondary:hover,
button.btn.btn-outline-secondary:active {
    background-color: #35c9b0c2; /* Cambiar color de fondo */
    color: white; /* Cambiar color del texto a blanco */
}




/* SECCION */
.container.mt-4 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;  /* Asegura que el padding y el borde estén incluidos en el tamaño total */
}

#ads {
    max-width: 1200px; /* Limita el ancho máximo para centrarlo en la pantalla */
    margin: 0 auto;
    box-sizing: border-box;  /* Asegura que el padding y el borde estén incluidos en el tamaño total */
}

/* Esto se asegura de que en pantallas medianas tengamos 4 columnas por fila */
.col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 5px;  /* Espacio alrededor de cada caja */
    box-sizing: border-box;  /* Asegura que el padding y el borde estén incluidos en el tamaño total */
}

/* Ajusta los márgenes y el padding si es necesario */
.card {
    margin: 0;  /* Elimina el margen ya que el padding en .col-md-3 creará el espacio */
    border-radius: 15px;
    cursor: pointer;
}

.card-price {
    font-size: 1.6em; /* o el tamaño que prefieras */
    margin: 0 0 5px 0; /* Ajusta el margen inferior según necesites */
}

.card-title {
    font-size: 1em; /* o el tamaño que prefieras */
    margin: 0;
    color:rgba(0, 0, 0, 0.356);
    font-weight: normal; /* para asegurarse de que no esté en negrita */
}


/* FOOTER */
footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    padding-left: 70px;
    padding-right: 70px;
}

footer div {
    display: flex;
    flex-direction: column; /* Esto coloca el ícono encima del texto */
    align-items: center;    /* Esto centra verticalmente el contenido */
}

footer img {
    height: 30px;
}

footer p {
    margin: 0; /* Esto elimina cualquier margen predeterminado que pueda desplazar el texto */
}



@media (max-width: 1000px) {
    header .iconos-header, header .boton-subir-producto {
        display: none; /* Ocultamos los iconos y el botón de "Subir Producto" */
    }
}

/* A partir de 1000px de ancho de pantalla */
@media (min-width: 1000px) {
    
    /* Ocultamos el footer */
    footer {
        display: none;
    }
}

/* En pantallas más grandes que 1000px, queremos que haya 4 anuncios por fila */
@media (min-width: 1000px) {
    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

/* En pantallas más pequeñas que 1000px, queremos que haya 1 anuncio por fila */
@media (max-width: 999px) {
    .col-md-3 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
